body{
background-color: #ffffff;
}
#CrniBoxZaZaglavlje{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130px;
    background-color: #010101;
    z-index: 9999;
    display: flex;
    align-items: center;
}
#SteamLogo{
    position: absolute;
    top: 15px;
    left: 200px;
    width: 100px;
    height: 100px;
}
#FFLogo{
    position: absolute;
    top: 15px;
    left: 390px;
    width: 300px;
    height: 100px;
}
#Zaglavlje1{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    padding: 11px 25px;
    border-radius: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    position: fixed;
 /*   top: 45px;  */
    /* left: 150px; */
    z-index: 10000;
    margin-left: 750px; 
}
#Zaglavlje1:hover {
    color: white; 
    border-color: white;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.8);
}
#Zaglavlje2 {
z-index: 10001;
font-size: large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-decoration: none;
    color: white;
    border: 2px solid transparent;
    padding: 11px 29px;
    border-radius: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    position: fixed;
    /* top: 45px; */
  /*  left: 150px;  */
    margin-left: 900px;
}
#Zaglavlje2:hover {
    color: white; 
    border-color: white;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.8);
}

#Zaglavlje3{
font-size: large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: none;
 color: white;
    border: 2px solid transparent;
    padding: 11px 29px;
    border-radius: 16px;
    display: inline-block;
    text-decoration:none;
z-index: 10001;
margin-left: 1050px;
/* top: 45px; */
/* left: 150px; */
}
#Zaglavlje3:hover{
 box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.8);
border-color: white;
color: white;
}
/* .Par{
   top: 45px; 
}  */
#Zaglavlje4{
    z-index: 10001;
font-size: large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-decoration: none;
    color: white;
    border: 2px solid transparent;
    padding: 11px 29px;
    border-radius: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    position: fixed;
   /*  top: 45px; */
   /*  left: 150px; */
    margin-left: 1200px;
}
#Zaglavlje4:hover{
    
 box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.8);
border-color: white;
color: white;
}
#Zaglavlje5{
 z-index: 10001;
font-size: large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-decoration: none;
    color: white;
    border: 2px solid transparent;
    padding: 11px 29px;
    border-radius: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    position: fixed;
   /*  top: 45px; */
   /*  left: 150px; */
    margin-left: 1370px;
}
#Zaglavlje5:hover{
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.8);
border-color: white;
color: white;
}
#BGS{
position: absolute;
width: 100vw;
height: 750px;
margin: 0;
 padding: 0;
    display: flex;
    top: 0;
    left: 0;
    margin-top: 130px;
    opacity: 0;
  animation: fadeIn 1.5s ease-in forwards; 
 /*  filter: contrast(120%) brightness(100%) saturate(110%); */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}
#PIL {
    position: fixed;
    top: 880px; /* 750px + 130px */
    left: 0;
    width: 100vw;
    height: 500px;
    background-color: rgb(138, 36, 36);
    z-index: 9999;
    display: flex;
    align-items: center;
}





